@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: var(--bg-color);
}
:root {
  --text-main-color: #1f2f4f;
  --text-secondary-color: #939cab;
  --text-third-color: #707070;
  --text-fourth-color: #63799b;
  --blue-color: #242e8f;
  --bg-color: #f6f9fd;
}
.card-box {
  width: 100%;
  max-width: 590px;
  display: grid;
  margin: 10px 0px 10px 0px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.25rem !important;
}

.card-heading {
  background: #00000012;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #dad7d7;
}

.login-form {
  padding: 10px;
}

.custom-btn {
  border-radius: 5px;
  border: 1px solid #4285f4 !important;
}

.overall-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

#root {
  height: 100%;
}

.login-label {
  color: var(--text-main-color);
}

.login-secondary-text {
  color: var(--text-third-color);
}

.error-msg-container {
  margin-bottom: 1rem;
}

.error-msg-label {
  color: #cb0162;
  font-style: italic;
  font-size: 0.8rem;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fa-spinner {
  animation: spinner 1s linear infinite;
}

.signup-label {
  font-size: 0.8rem;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.signup-link {
  color: #242e8f;
}
.signup-link:hover {
  color: #242e8f;
  text-decoration: none;
}

.error-message-container {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
  margin-bottom: 30px;
  padding: 10px 20px;
  transition: 1s;
}

.error-icon {
  margin-right: 10px;
  color: #f94d50;
}

.error-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.error-label {
  font-family: 'Montserrat', sans-serif;
  color: #f94d50;
  font-size: 0.8rem;
}

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
